### 변수: 데이터를 저장해놓는 곳
### 변수명은 영문과 숫자 _로 이뤄진다
### 대소문자를 구분한다
### 문자나 _로 시작한다
### 특수문자를 사용하면 안된다
### if, for 같은거 키워드 사용하면 안된다. 
a = 1 
a에 1을 대입한다. 변수 a에 1을 대입한다.

### 주석처리 한줄은 #이다 여러줄은 ''' ''' 따옴표 세개

In [1]:
a, b , c = 3, 2, 1
print(a,b,c)

3 2 1

### 한번에 변수 같이 설정할 수 있다. 변수값을 새로 만들면 그전꺼는 지워지고 만들어진다. 
### 값 교환

In [2]:
a,b = 10, 20
print(a,b)
a, b = b , a
print(a,b)

10 20
20 10

### 변수 타입
a = 1,2,3,4,5 이거는 정수형 int

In [3]:
a = 12345
print(type(a))

<class 'int'>

### 실수형

In [8]:
a = 12.3341123232323432151325132512412
# 8바이트를 넘어가면 손실된다. 
print(a)
print(type(a))

12.334112323232343
<class 'float'>

### 스티링 형

In [9]:
a = 'student'
print(type(a))

<class 'str'>

# 출력방식

In [1]:
print("number")
a,b,c = 1,2,3
print(a,b,c)
print("number",a,b,c)
print(a,b,c)
print(a,b,c,sep=',')
print(a,b,c,sep='\n')
print(a,b,c,sep='')
#줄바꿈을 하기 싫다 end를 쓰면 된다. 
print(a, end=',')
print(b, end='')
print(c, end='')
#sep는 쉼표로 띄어쓰기 해라 하는 것

number
1 2 3
number 1 2 3
1 2 3
1,2,3
1
2
3
123
1,23